<%- include('../../partials/head.ejs') ;%>
    <div class="container-fluid py-5 px-md-5 col" id="id" data-id="<%= questionId  %>">
        <h1><%= question  %></h1>
        <button type="button" class="btn btn-outline-success my-2" onclick=createOption(event)>
            Nueva Opci贸n
        </button>
        <table class="table table-striped table-sm">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Opciones</th>
                    <th scope="col">Acciones</th>
                </tr>
            </thead>
            <tbody id="listOptions">
                <tr>

                </tr>
            </tbody>
        </table>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="modalOptionCreate" tabindex="-1" aria-labelledby="modalOptionCreateLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <form id="createEditOptionForm" class="modal-content"  data-id="<%= questionId  %>">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="modalOptionCreateLabel"><%= questionId ? 'Nueva Opci贸n' : 'Editar Opci贸n' %></h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row g-3 needs-validation">
                        <input type="hidden" id="isCreating">
                        <div class="col">
                            <label for="option" class="form-label">Opci贸n<small
                                    class=" text-danger">(*)</small></label>
                            <input type="text" class="form-control" id="option" name="option" required>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-primary">Guardar</button>
                </div>
            </form>
        </div>
    </div>
    </main>
    <script src="/js/bootstrap/bootstrap.bundle.min.js"></script>

    <script src="/js/questions/showQuestionOptions.js"></script>
    <script src="/js/options/modalEditCreate.js"></script>
    <%- include('../../partials/footer.ejs') ;%>